<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Skin Switch</lang>
    </name>
    <author>
        <lang name="default">Alto CMS Team</lang>
    </author>
    <homepage>http://altocms.ru/</homepage>
    <version>1.0.0</version>
    <requires>
        <alto>
            <version>0.9</version>
        </alto>
    </requires>
    <description>
        <lang name="russian">Переключатель скинов для Alto CMS (основано на плагине Skin switcher for LiveStreet Сергея Яглова)</lang>
        <lang name="default">Skin switcher for Alto CMS (based on Skin switcher for LiveStreet by Sergey S Yaglov)</lang>
    </description>
</plugin>