/** theme.custom.less */
/** Шрифты
----------------------------------------------------------------------------------------------------------*/
/** Базовые цвета темы
----------------------------------------------------------------------------------------------------------*/
/** Метрика сайта
----------------------------------------------------------------------------------------------------------*/
/** Другое
----------------------------------------------------------------------------------------------------------*/
/** Кнопки - 5
----------------------------------------------------------------------------------------------------------*/
/** МЕНЮ ПЕРВОГО УРОВНЯ - 20
----------------------------------------------------------------------------------------------------------*/
/** МЕТРИКА ПОИСКА
----------------------------------------------------------------------------------------------------------*/
/** МЕНЮ ТРЕТЬЕГО УРОВНЯ - 7
----------------------------------------------------------------------------------------------------------*/
/** КОНТЕНТ САЙТА
----------------------------------------------------------------------------------------------------------*/
/** ТОПИК
----------------------------------------------------------------------------------------------------------*/
/** ПАДЖИНАТОР
----------------------------------------------------------------------------------------------------------*/
/** ПОДВАЛ
----------------------------------------------------------------------------------------------------------*/
/** САЙДБАР
----------------------------------------------------------------------------------------------------------*/
/** ТОПИК-НОВОСТЬ (наследует настройки основного топкиа)
----------------------------------------------------------------------------------------------------------*/
/** КОММЕНТАРИИ
----------------------------------------------------------------------------------------------------------*/
/**-------------------------------------------------------------------------------------------------------*/
/** РАЧЕТНЫЕ ДАННЫЕ. НЕ МЕНЯТЬ!
----------------------------------------------------------------------------------------------------------*/
/** ЦВЕТА (9)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ МЕНЮ (7)
----------------------------------------------------------------------------------------------------------*/
/** ОСНОВНОЕ МЕНЮ (7)
----------------------------------------------------------------------------------------------------------*/
/** МЕНЮ ТОПИКОВ (5)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ БЛОКОВ (5)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ТУЛЛБАРА (12)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ЭЛЕМЕНТОВ ФОРМЫ (16)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ВЫВОДА ТОПИКА (3)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ВЫВОДА КОММЕНТАРИЕВ (2)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ПАДЖИНАТОРА (6)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ ПОДВАЛА (6)
----------------------------------------------------------------------------------------------------------*/
/** ВИДЖЕТ ИНФОРМАЦИИ О БЛОГЕ (3)
----------------------------------------------------------------------------------------------------------*/
/** ПРОФИЛЬ ПОЛЬЗОЫВТЕЛЯ (13)
----------------------------------------------------------------------------------------------------------*/
/** НАСТРОЙКИ СТЕНЫ (1, ОСТАЛЬНОЕ В НАСТРОЙКАХ КОММЕНТАРИЕВ)
----------------------------------------------------------------------------------------------------------*/
/** ПРОЧИЕ (1)
----------------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .container {
    width: 1030px;
    /* 1000px - container + 30px */
  }
}
.navbar-main .navbar-brand span {
  color: #ffffff;
}
body {
  background-color: #d3dce1;
  color: #333;
}
.panel.widget .feed-comment-text a {
  color: #333 !important;
}
.panel.widget .feed-comment-text a:hover {
  color: #c43a3a !important;
}
.content .topic .topic-footer,
.panel-footer {
  background-color: #f5f6f8;
}
/* Цвет левой полоски активного элемента меню */
.hvr-leftline-reveal:before {
  background: #ffffff;
}
/* Цвет левой полоски активного элемента меню контента */
.navbar-content .hvr-leftline-reveal:before {
  background: #1c374c;
}
/* Ссылка выпадающего меню пользователя*/
.navbar-main .dropdown-menu.dropdown-user-menu > li > a:hover,
.navbar-main .dropdown-menu.dropdown-user-menu > li > a:hover i {
  color: #ffffff !important;
}
/* Ссылка в быстрых иконках выпадающего меню пользвоателя */
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav .menu-item-user-comments a {
  color: #4b8bbc !important;
}
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav .menu-item-user-talks a {
  color: #e68f12 !important;
}
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav .menu-item-user-rating a,
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav .menu-item-user-rating a i {
  color: #57a839 !important;
}
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav a:hover,
.navbar-main .navbar-nav li a:hover,
.navbar-main .navbar-nav a:hover i {
  background: transparent;
  color: #ffffff !important;
}
/* Кнопка меню пользователя */
.user-button {
  color: #ffffff !important;
}
/* Ссылка в быстрых иконках выпадающего меню тулбара */
.toolbar-user li.user_activity_items ul li.menu-item-user-rating a i {
  color: #57a839 !important;
}
.toolbar-user li.user_activity_items ul li.menu-item-user-rating a:hover {
  color: #57a839 !important;
}
.toolbar-user li.user_activity_items ul li.menu-item-user-rating a:hover i {
  color: #c43a3a !important;
}
.toolbar-user li.user_activity_items ul li.menu-item-user-comments a {
  color: #4b8bbc !important;
}
.toolbar-user li.user_activity_items ul li.menu-item-user-talks a {
  color: #e68f12 !important;
}
.toolbar-user a:hover i.fa {
  color: #ffffff !important;
}
/* Лейбл количества в прояиле */
.user-panel .user-nav li a span {
  background-color: #1c374c;
}
/* iCheck plugin */
.icheckbox_square-blue,
.iradio_square-blue {
  background: url("../images/theme_black.png") no-repeat;
}
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_square-blue,
  .iradio_square-blue {
    background-image: url("../images/theme_black@2x.png");
  }
}
.btn.btn-gray i {
  color: #ffffff !important;
}
.feed-comment .feed-comment-text,
.feed-topic .feed-comment-text,
.feed-comment .feed-topic-text,
.feed-topic .feed-topic-text {
  font-size: 13px !important;
}
h1,
h1 a,
h1 i,
h1 span {
  font-size: 24px !important;
}
h2,
h2 a,
h2 i,
h2 span {
  font-size: 22px !important;
}
h3,
h3 a,
h3 i,
h3 span {
  font-size: 22px !important;
}
h4,
h4 a,
h4 i,
h4 span {
  font-size: 18px !important;
}
h5,
h5 a,
h5 i,
h5 span {
  font-size: 16px !important;
}
h6,
h6 a,
h6 i,
h6 span {
  font-size: 14px !important;
}
.link.link-blue,
.link.link-dual,
.panel .panel-footer a {
  color: #4b8bbc;
}
li.active a.link-dual {
  color: #1c374c !important;
}
.topic-time {
  color: #4b8bbc !important;
}
