/* RESET */
a:focus, a:hover, a:active, .btn:focus, select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: 0; }
iframe { border: none; }
a:focus { text-decoration: none; }

.text-success { color: #16b76f; }
.text-info { color: #0074d9; }
.text-danger { color: #ff4136; }
.nav > li > a { color: #363535; }
.pagination { display: block; overflow: hidden; }
.pagination > li > a, .pagination > li > span { padding: 9px 15px; }

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus { cursor: default; }

.panel-title {
    font-size: 14px;
}

/*
.progress { height: 10px; margin-bottom: 25px; margin-top: 7px; }
*/
.photoset-upload-status {
}
.photoset-upload-filename {
    font-weight: bold;
}

.tab-content { margin-top: 10px; }

.b-header-banner {
    background: #252525;
}
.b-header-banner-inner {
    height: 250px;
    background: url("../../assets/images/header-banner.jpg") center;
}

/* LINKS */
a { transition: color 0.2s ease 0s; -webkit-transition: color 0.2s ease 0s; }

a.actions-edit { color: #16b76f; }
a.actions-delete,
a.delete { color: #ff4136; }

a.stream-topic { color: #252525; }
a.blog-top { color: #252525; font-family: 'Roboto', sans-serif; font-weight: bold; }
a.read-more { color: #868686 !important; font-size: 13px; text-decoration: none !important; }
a.read-more:hover { color: #ff4136; }

.table.table-talk a.user { color: #252525; font-weight: bold; }
.table.table-talk a.user.inactive { color: #adadad; }

/* TOP BANNER */
#topbanner { height: 250px; }
#topbanner .jumbotron, #topbanner .carousel-inner .item { margin: 0; height: 250px; }
#topbanner .carousel-inner .item-wrap { height: 250px; width: 100%; }
#topbanner h1 { text-shadow: 0 0 10px rgba(64, 64, 64, .5) }
#topbanner a, #topbanner a:hover { color: #fff; }
#topbanner h1 a:hover { text-decoration: none; }

/* NAVIGATION */
.navbar { background-color: #f6f6f6; box-shadow: 0 0 10px 5px rgba(64, 64, 64, 0.05); }

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
}
.navbar-inverse .navbar-nav img.avatar {
    border: 1px solid #999;
}
.navbar-brand-logo { margin-right: 14px; }
.navbar .nav > li .new-messages { color: #ffdc00; }
.navbar .nav > li .new-messages:hover { color: #ff851b; }
.navbar .nav .messages-count { color: #ff4136; }

.nav-userbar .dropdown-menu, .nav-userbar .dropdown-menu li a {
    background: #0c0c0c;
    color: #fff;
}
.nav-userbar .dropdown-menu li a:hover {
    background: #555555;
}
.nav.context-menu > li > a {
    padding: 8px 15px;
    font-size: 11px;
    font-weight: bold;
    color: #2a2a2a;
}

/* CONTENT */
/* .content-inner.action-people, */
/* .content-inner.action-blogs, */
.content-inner.action-stream,
.content-inner.action-talk,
.content-inner.action-settings,
.content-inner.action-topic,
.content-inner.action-content,
.content-inner.action-question,
.content-inner.action-link,
.content-inner.action-photoset,
.content-inner.action-comments,
.content-inner.action-profile .comment-list,
.content-inner.action-blog.event-edit,
.content-inner.action-blog.event-admin,
.content-inner.action-blog.event-add,
.content-inner.action-blog.params-users,
.content-inner.action-admin,
.content-inner-panel,
.profile-notes,
.profile-header,
.profile-content,
.action-header,
#comments.comments { background-color: #fff; padding: 25px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02); }

/* .content-inner.action-profile.params-created, */
.content-inner.action-profile.params-favourites,
.content-inner.action-talk.event-read,
.content-inner.action-topic.event-saved { background-color: transparent; padding: 0; box-shadow: none; }

.content-inner-paging {
    margin-top: 30px;
}

.action-header { margin-bottom: 30px; }
.action-header .nav-filter-wrapper { margin-bottom: 0 !important; }

.content-menu {
    box-shadow: inset 0 -2px 1px rgba(64, 64, 64, .05);
}

/* FOOTER */
.footer { background-color: #111; color: #919191; }
.footer a { color: #919191; font-size: 12px; }
.footer-list-header { color: #fff; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: bold; margin-bottom: 5px; padding-bottom: 3px; }

.footer-bottom { background-color: #080808; font-size: 12px; }
.footer-bottom .container { padding-bottom: 20px; padding-top: 20px; }
.footer-bottom-copyright,
.footer-bottom-copyright a { vertical-align: top; height: 24px; }
.footer-bottom-copyright a { vertical-align: top; height: 24px; display: inline-block; }
.footer-bottom-copyright img { vertical-align: top; margin: 0 4px; }


/* STREAM */
.stream-list li.stream-item { border-bottom: 1px solid #eee; }
.stream-list li.stream-header-date .lead { border-bottom: 1px solid #eee; }

.stream-comment-preview { background-color: #f4f3ec; }


/* USERFIELDS */
.userfield-list li { background-color: #f4f3ec; }
.userfield-list li .userfield_admin_name { font-weight: bold; color: #333; }


/* LIGHT PAGES */
body.light .site-info .site-name a { color: #252525; }
body.light .site-info .site-name a:hover { color: #ff4136; text-decoration: none; }
.light-form { background-color: #fff; }


/* MISC */
.help { border: 1px solid #ddd; background-color: #fff; }
.help-arrow {
    position: absolute;
    top: -8px;
    margin: 0 4px;
}
.help-arrow.i-right {
    right: 20px;
}
.help-arrow:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.help-arrow:before {
    content: "";
    position: absolute;
    top: -2px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.text h4 { font-size: 24px; }
.text h5 { font-size: 20px; }
.text h6 { font-size: 16px; }

a.user-friends { color: #252525; }
a.user-friends:hover { color: #ff4136; text-decoration: none; }


/* VOTING */
.vote-count { color: #adadad; font-weight: bold; }
.vote-count a { color: #adadad; }

.vote-count-positive .vote-count { color: #16b76f; }
.vote-count-negative .vote-count { color: #ff4136; }

.vote-up,
.vote-down { color: #adadad; }

.vote-up:hover { color: #16b76f; }
.vote-down:hover { color: #ff4136; }

.voted-up .vote-up { color: #16b76f; }
.voted-down .vote-down { color: #ff4136; }

.voted-up .vote-down:hover { color: #ff4136; }
.voted-down .vote-up:hover { color: #16b76f; }


/* FAVOURITES */
.favourite, 
.favourite:hover, 
.favourite:focus { color: #adadad; }
.favourite.active { color: #ff4f00; }


/* TOOLBAR */
.toolbar { top: 160px; }
.toolbar section { background-color: #fff; box-shadow: 0 0 5px 3px rgba(64, 64, 64, 0.05); }

.toolbar section a { color: #adadad; }
.toolbar section a:hover { color: #16b76f; }

/* Update comments button */
.toolbar-update .update-comments.active span { opacity: .5; }
.toolbar-update .new-comments { border-top: 1px solid #eee; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev { border-bottom: 1px solid #eee; }


/* SEARCH */
/* .search-item { background-color: #f4f3ec; } */
.search-abc li.active a { color: #333; border: none; }
.search-tags { margin-bottom: 30px; padding: 15px; background-color: rgba(0, 0, 0, 0.05); }
.search-tags .form-group { margin-bottom: 0; }


/* TAGS CLOUD */
.tag-cloud li a { color: #adadad; }


/* ITEM LIST */
.item-list li { padding: 15px 0; border-bottom: 1px solid #d9d9d9; }
.item-list li .author { color: #868686; }
.item-list li .blog-name { color: #ff4136; }

#block_blogs .item-list li { padding: 10px 0; margin: 0; }
#block_blogs .item-list li .avatar { height: 36px; width: 36px; }


/* OTHERS */
/*
.wrapper-content { background-color: #f4f3ec; }
.wrapper-content.wrapper-content-dark { background-color: rgba(0, 0, 0, 0.02); }
.form-profile { background-color: #f4f3ec; }
*/

.page-header h1 { font-weight: 300; }


/* FORMATTED TEXT */
.text a { text-decoration: underline; }
.text a:hover { text-decoration: none; }
.text a:visited { color: #6091bf; }


/* ICONS */
.form-profile .icon-remove,
.form-profile .icon-remove:hover,
.form-profile .glyphicon-remove,
.form-profile .glyphicon-remove:hover,
.topic-poll-add .btn-remove { color: #adadad; text-decoration: none; }
.topic-poll-add .btn-remove:hover { color: #ff4136; }

.topic-poll-add .btn-remove { position: absolute; right: 0; padding: 9px 6px; }

/* TABLE BLOGS */
.table-blogs .cell-name h4 { font-weight: 700; margin-bottom: 7px; margin-top: 0; }
.table-blogs .cell-name h4 .blog-name { color: #252525; font-size: 16px; }
.table-blogs .cell-name h4 .glyphicon { color: #ff4136; cursor: help; font-size: 11px; vertical-align: top; }
.table-blogs .cell-name p { color: #868686; font-size: 13px; margin-bottom: 0; overflow: hidden; }

/* TABLE USERS */
.table-users .cell-name .username a { color: #252525; font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: bold; }
.table-users .cell-name p .glyphicon { color: #45cbff; cursor: help; font-size: 11px; vertical-align: top; }


/* TOPIC */
.topic { background-color: #fff; margin-bottom: 30px; padding: 22px 25px 10px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02); }
/* .topic-preview .topic { margin-bottom: 30px; padding: 0; } */

/* Header */
.topic-header-title a { color: #252525; }
.topic-header-title span { font-size: 14px; color: #16b76f; left: -5px; top: 5px; }
.topic-header-info .topic-blog { color: #ff4136; font-family: 'Roboto', sans-serif; font-weight: bold; }

/* Topic Link */
.topic .topic-url a { color: #16b76f; }

/* Topic Content */
.topic-content {
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20pt;
}

.topic a.read-more {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
    padding: 2px 15px;
}

/* Tags */
.topic-footer .topic-tags li a { color: #adadad; }
.topic-footer .topic-tags li a:hover { color: #777; text-decoration: none; }
.topic-footer .topic-tags li.topic-tags-user a { color: #16b76f; }

/* Info */
.topic-footer-info { border-top: 1px solid #d9d9d9; }
.topic-footer-info a { color: #868686; }
.topic-footer-info li.topic-info-author a { color: #868686; }
.topic-footer-info li.topic-info-author a:hover { color: #ff4136; }
.topic-footer-info li.topic-info-share a { color: #adadad; }
.topic-footer-info li.topic-info-comments a { color: #adadad; }
.topic-footer-info li.topic-info-comments a.icon-active,
.topic-footer-info li.topic-info-comments a.new { color: #16b76f; }
.topic-footer-info li.topic-info-comments a.new .count { color: #ff4136; }

/* Share */
.topic .topic-share { background-color: #f9f9f9; border: 1px solid #e9e9e9; }

/* Topic Photo */
.topic.topic-type-photoset .topic-photo-preview .topic-photo-count { color: #3fb618; background: rgba(0,0,0,.6); }
.topic.topic-type-photoset .topic-photo-preview .topic-photo-desc { color: #fff; background: rgba(0,0,0,.7); }

.topic-photoset h2 { border-bottom: 1px solid #eee; }

.topic-photo-upload ul li textarea {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.swfupload {
    position: absolute;
    outline: none;
}

#form-topic-add .checkbox { margin-bottom: 20px; }

/* Topic Talk */
.topic.topic-type-talk .talk-recipients { background-color: #f4f3ec; }
.talk-search .talk-search-content { border-top: 1px dotted #cdcdcd; }


/* COMMENTS */
.comments .comments-header h3 { margin-top: 0; }
.comment blockquote { background-color: #fff; border-left: 5px solid #ddd; font-size: 16px; }
.comment .text pre.prettyprint { background-color: #fff; }

.comment-preview { margin-top: 25px; background-color: #f4f3ec; }

/* COMMENT */
.comment { padding: 20px 20px 20px 70px; }
.comment .comment-avatar {
    display: block;
    box-sizing: content-box;
    border: 5px solid #fff;
    background-color: #fff;
    height: 64px;
    left: -15px;
    top: 12px;
    width: 64px;
}

/* Types of comments */
.comment { background-color: #f4f3ec; margin-bottom: 25px; margin-left: 10px; }
.comment.comment-deleted { background-color: #ffe7e6; }
.comment.comment-self { background-color: #e7f4ee; }
.comment.comment-new { background-color: #edf2f7; }
.comment.comment-current { background-color: #e1e9f2; }

.ls-user-role-not-admin .comment.comment-deleted { padding: 10px 15px; background-color: #f4f3ec; border-top: none; }

/* Info Block */
.comment-info-author a { font-weight: bold; color: #252525; }
.comment-info-author a.comment-topic-author { color: #ff4136; }
.comment-info-date a { color: #adadad; }

.comment-info li.goto-comment-parent,
.comment-info li.goto-comment-child { font-size: 13px; line-height: 1.1; }

/* Actions */
.comment-actions li a.comment-delete { color: #ff4136; }
.comment-actions li a.comment-repair { color: #16b76f; }

/* Reply form */
.reply-header a { color: #ff4136; font-weight: bold; }
.reply { background-color: #f4f3ec; margin-top: 25px; margin-bottom: 25px; }

/* List of comments */
.comments.comment-list { margin-bottom: 30px; }
.comment-path { margin-top: 20px; padding: 5px 0; }
.comment-path .blog-name { color: #ff4136; }
.comment-path .comment-path-topic { color: #252525; }
.comment-path .comment-path-comments { color: #16b76f; }


/* Comments on the wall */
#wall-container .comment { margin-bottom: 8px; }
#wall-container .comment-wrapper { margin-top: 15px; }
#wall-container .comment-wrapper .comment-wrapper { padding-left: 30px; margin-top: 0; }
#wall-container .comment-wrapper .comment-wrapper .btn-block { margin-bottom: 10px; }


/* WIDGETS */
.widget { box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02); margin-bottom: 30px; }

.widget-title a { color: #252525; }
.widget-title a:hover { text-decoration: none; color: #ff4136; }

.widget-content .nav > li > a { font-size: 12px; }

.widget footer a { color: #adadad; }

/* Widget Type - Blog */
.widget-type-blog a.rss { color: #adadad; }
.widget-type-blog a.rss:hover { color: #777; }

/* Widget Type - Profile */
.widget-type-profile .upload-photo { background-color: #eee; }
.widget-type-profile-nav a { background-color: #f7f7f7; }
.widget-type-profile-note { background-color: #eaf5ff; border-color: #cbe6ff; }
.profile-photo-menu { text-align: center; }

/* Widget Type - Foldable */
.widget-type-foldable { background-color: #f4f3ec; box-shadow: none; }
.widget-type-foldable .widget-content { border-top: 1px dotted #cdcdcd; }
.widget-type-foldable .widget-content .form-control[readonly] { cursor: text; }

.widget-type-blacklist { background-color: #f4f3ec; box-shadow: none; }


/* MODAL WINDOWS */
.modal-header { background-color: #f4f3ec; }
.modal-content { border-radius: 0; }

/* Add topic */
.modal-write .write-list li:hover a { color: #ff4136; }
.modal-write .write-list li .write-item-link { color: #252525; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.modal-write .write-list li .write-item-link:hover { color: #ff4136; text-decoration: none; }

/* SETTINGS */
.settings-avatar-change { text-align: center; width: auto; min-width: 0; }
.profile-avatar-menu { margin-top: 10px; width: auto; }
#profile-photo-file, #profile-avatar-file { position: absolute; }

/* BLOG */
.blog { background-color: #fff; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02); padding: 25px 25px 0; }

/* Header */
.blog .blog-header h1 span { font-size: 14px; color: #ff4136; }

/* Blog Mini */
.blog-mini { padding: 10px 25px; margin: 0 -25px; background-color: #e7f4ee; line-height: 26px; }

/* Content */
.blog .blog-more-content { padding: 0 25px 20px; margin: 0 -25px; background-color: #e7f4ee; }
.blog .blog-content { background-color: #fff; padding: 15px 15px 5px; }

/* Footer */
.blog-info dt, .blog-info dd { line-height: 2; }
.blog-info dt { border-bottom: 1px dotted #cdcdcd; }
.blog-info dd { border-bottom: 1px dotted #cdcdcd; text-align: right; }
.blog .blog-footer { line-height: 1.7; }
.blog .blog-footer .user-avatar { margin-right: 5px; }


/* Blog Nav */
.blog-nav { display: inline-block; padding: 10px 25px; width: 100%; background-color: #fff; box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.02); }


/* WALL */
.wall-submit { background-color: #f4f3ec; }
.wall-submit .counter { color: #adadad; }

.wall-submit.wall-submit-reply { background: #f4f3ec; }


/* TOOLTIPS */
.infobox { font-size: 12px; padding: 15px; color: #fff; background: rgba(0,0,0,.8); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.infobox a { color: #b4b8ed; }
.infobox a:hover { color: #999ddb; }

/* Default Tip */
.infobox.infobox-standart { background: rgba(0,0,0,.8); }
.infobox.infobox-standart .tip-arrow  { border-color: rgba(0,0,0,.8); }


/* NOTIFIERS */
#notifier { width: 250px; top: 10px; right: 10px; font-size: 12px; }

#notifier .n-box { 
	color: #fff; 
	background: #000;
	opacity: 0.9;
    filter: alpha(opacity=90);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#notifier .n-box h3 { color: #fff; font-size: 13px; }
#notifier .n-box p { font-size: 11px; }

#notifier .n-box.n-notice { background: #063573; }
#notifier .n-box.n-error { background: #850505; }


/* PAGINATION */
.paging { background-color: #fff; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02); }
.paging .pagination { margin-top: 0; margin-bottom: 0; }
.pagination, .pagination * { border-radius: 0 !important; }

#users-list-original .paging { border: 1px solid #e6e6e6; }
