.idea
.gitmodules
composer.lock
uploads/*
_tmp/*
!.htaccess
_run/*
common/config/config.local.php
common/config/config.test.php
app/config/config.php
app/config/config.local.php
app/config/jevix.php
app/config/menu.php
app/config/widgets.php
app/plugins/*
vendor/**/.gitignore
vendor/**/.travis.yml
vendor/*/*/test/*
vendor/*/*/tests/*
vendor/*/*/demo/*
vendor/*/*/docs/*

