<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <id>example</id>
    <name>
        <lang name="default">Example</lang>
        <lang name="ru">Example</lang>
    </name>
    <author>
        <lang name="default">author</lang>
        <lang name="ru">автор</lang>
    </author>
    <homepage>http://altocms.ru</homepage>
    <version>1.0.0</version>
    <dirname>example</dirname>
    <requires>
        <alto>
             <version>1.0.0</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
        <plugins>
            <!-- Атрибуты name, version и condition необязательны -->
            <!-- Возможные значения атрибута condition соответствуют описанию параметра «operator» на странице http://php.net/manual/ru/function.version-compare.php  -->
            <!-- <plugin name="plugin_name" version="1.0.0" condition="eq">plugin_id</plugin> -->
        </plugins>
    </requires>
    <description>
        <lang name="default">Description of plugin Example</lang>
        <lang name="ru">Описание плагина Example</lang>
    </description>
</plugin>
