/**
 * Основные стили
 */

body {
	background-color: #f9f9f9;
	font-size: 14px;
	font-family: "PT Sans", arial, sans-serif; 
	line-height: 18px;
	color: #333;
}

/**
 * Ссылки
 */
a 		{ color: #718ba2; }
a:hover { color: #f00; }
a.pointer { cursor: pointer; }

/*
.text a:visited, 
.topic .topic-header .topic-title a:visited,
.item-list li a:visited { color: #1D2273; }
*/

/**
 * Заголовки
 */

h1, h2, h3, h4, h5, h6 { font-family: "PT Sans", arial, sans-serif; }

.h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 15px; line-height: 1.2em; font-family: "PT Sans", arial, sans-serif!important; }

.h1 { font-size: 28px; }
.h2 { font-size: 26px; }
.h3 { font-size: 24px; }
.h4 { font-size: 22px; }
.h5 { font-size: 20px; }
.h6 { font-size: 18px; }

.page-header      { color: #333; font-size: 27px; line-height: 1em; font-weight: bold; margin-bottom: 20px; }
.page-header span { color: #aaa; }

.header-table     { margin-bottom: 5px; font-size: 18px; font-weight: normal; color: #132c37; }


/**
 * Шапка сайта
 */
#header a                  			 { _text-decoration: none; color: #000; }
#header .site-description 	 { max-width: 500px; font-size: 13px; line-height: 18px; color: #718ba2; margin-bottom: 8px; }
#header .logo 				 { display: block; position: absolute; left: 0; top: 62px; width: 40px; height: 40px; background: url(../images/logo.gif) no-repeat; }

/**
 * Кнопка перехода в админку
 */ 
.admin-link { position: absolute; top: 0; right: 0; }
.admin-link i { width: 23px; height: 23px; }

#footer .copyright { padding-left: 35px; background: url(../images/copyright.gif) no-repeat 0 4px; float: right; margin-right: 0px; color: #718ba2; font-size: 12px; }