*                                       { outline: none!important }
.alert                                  { word-wrap: break-word; margin-left: 15px; margin-top: 15px; padding-left: 30px; position: relative; }
.alert > .glyphicon                     { -moz-border-radius: 50px; -webkit-border-radius: 50px; background: inherit; border: inherit; border-radius: 50px; height: 35px; left: -15px; line-height: 35px; position: absolute; text-align: center; top: -15px; width: 35px; }
.b-page-stats table                     { margin: 0 auto }
.b-page-stats td                        { padding: 0 30px; vertical-align: top; }
.b-page-stats-head                      { font-size: 16px; font-weight: bold; }
.badge,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus
                                        { background: #6964A7; border-color: #6964A7; }
.pagination                             { margin-bottom: 45px; }
.page-title                             { font-size: 19px; margin: 0; }
.btn                                    { border-radius: 4px; padding: 7px 6px; transition: all .1s ease; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 13px; }
.btn-xs,
.btn-group-xs > .btn,
.btn-primary.btn-xs
                                        { padding: 4px 7px }
.btn.btn-primary                        { background: #6964A7!important; border-color: #5B569D!important; }
.btn.btn-primary:hover                  { background: #5E5996!important; }
.btn.mb15,
.mb15 .btn.btn-primary,
.col-md-12 .btn.btn-primary.pull-right
                                        { padding: 8px 12px }
.btn.btn-block                          { font-size: 12px; font-weight: bold; }
.callout                                { border-left: 5px solid #EEE; line-height: 1.3; margin: 0 0 10px; padding: 20px 10px 20px 20px; }
.callout h4                             { font-size: 14px; margin-bottom: 10px; margin-top: 0; }
.callout p:last-child                   { margin-bottom: 0 }
.callout.callout-warning                { background-color: #FEFBED; border-color: #F1E7BC; }
.callout.callout-warning h4             { color: #C09853; font-weight: bold; }
.close                                  { font-family: Roboto, Helvetica, Arial, sans-serif; }
.container                              { max-width: 1260px; width: 100%; }
.content                                { overflow: hidden; padding-left: 20px; }
.content-header h1                      { font-size: 18px; font-weight: bold; margin-bottom: 15px; }
.form-group                             { margin-bottom: 25px }
.nav.nav-pills                          { margin: 5px 0 25px;;} 
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline
                                        { margin-top: -10px; }
.help-block                             { font-weight: normal; }
.help-block.inline                      { display: inline; margin-left: 15px; }
.input-group-addon                      { border-color: #ddd }
.jq-radio.checked .jq-radio__div        { background: #6964A7 }
.label-primary                          { background: #A7649E }
.mb10                                   { margin-bottom: 10px }
.mb15                                   { margin-bottom: 25px!important }
.nav > li > a                           { padding: 20px 10px; }
.nav-tabs                               { margin: 15px -10px; }
.nav-tabs > li > a                      { padding: 12px 10px; font-weight: bold; color: #7E91A8; }
.nav-pills > li > a                     { color: #6964A7; padding: 8px 10px; }
.nav > li > a:hover,
.nav > li > a:focus                     { background-color: rgba(105, 100, 167, 0.1) }
.navbar-form                            { padding: 5px 15px; }
.navbar-form .form-control              { background: url(../img/search.png) 160px 14px no-repeat rgba(0, 0, 0, 0.1); border: 0; border-radius: 50px; color: rgba(255, 255, 255, 0.5); height: 44px; padding: 13px 15px; font-size: 13px; margin-left: 30px; width: 200px; box-shadow: inset rgba(0, 0, 0, 0.03) 0px 1px 1px, inset rgba(0, 0, 0, 0.03) 0px -1px 0px; }
.navbar-inverse                         { border: 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0; display: block; margin-bottom: 30px; width: 100%; background-color: #6964A7; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08); }
.navbar-inverse .navbar-brand           { background: url(../img/logo2.png) 10px 19px no-repeat; color: transparent; font-size: 22px; font-weight: bold; height: 70px; padding: 35px 15px; text-indent: -9999px; min-width: 150px; }
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form
                                        { border-color: rgba(255,255,255,0.01); padding-right: 10px; }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a
                                        { }
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
                                        { background-color: rgba(0,0,0,0.1); color: rgba(255,255,255,0.9); }
.navbar-inverse .navbar-nav > li > a    { color: rgba(255, 255, 255, 1); padding: 25px 20px; }
.navbar-inverse .navbar-toggle          { border-color: rgba(255,255,255,0.5); margin-top: 13px; }
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
                                        { background: #fff }
.navbar-inverse img                     { border-radius: 50%; margin-right: 10px; }
.panel-body                             { padding: 25px; }
.panel-body.no-padding                  { padding: 0 }
.panel-body.no-padding .table           { box-shadow: none; margin-bottom: 0; }
.panel-default                          { background: #fff; position: relative; border-radius: 0; border: 1px solid #D8DCEE; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05); }
.panel-default > .panel-heading         { background-color: rgba(241, 244, 249, 0.5); border-bottom: 1px solid #D8DCEE; border-radius: 0; color: #66757f; padding: 20px 20px; border-top: 1px solid #D8DCEE; }
.panel-default > .panel-heading:first-child
                                        { border-top: 0; }
.panel-footer                           { border-radius: 0 0 5px 5px; border-top: 1px solid #D8DCEE; padding: 10px 20px; background: #fff; }
.panel-heading.noborder                 { border: 0!important; background-color: #fff; border-radius: 5px!important; padding: 15px 10px 20px; }
.panel-title                            { font-size: 16px; margin: 0!important; line-height: 1; }
.panel.panel-default.noborder .panel-footer
                                        { padding-right: 40px }
.sidebar                                { float: left; width: 280px; }
.sidebar-menu                           { padding: 0; margin: 0; }
.sidebar-menu .dcjq-parent.active       { border-left: 4px solid #6964A7; padding-left: 16px; }
.sidebar-menu .glyphicon.glyphicon-chevron-right
                                        { font-size: 6px; top: 7px; width: 15px; }
.sidebar-menu .sub                      { display: none }
.sidebar-menu a                         { -moz-transition: all .04s ease; -o-transition: all .04s ease; -webkit-transition: all .04s ease; color: #6964A7; display: block; padding: 18px 15px 18px 20px; transition: all .04s ease; font-weight: bold; }
.sidebar-menu li                        { border-bottom: 1px dotted #E7F1F5; list-style: none; margin: 0; padding: 0; position: relative; }
.sidebar-menu li a i                    { top: 2px; width: 25px; }
.sidebar-menu li a:hover                { background: #6964A7; color: #FFF!important; text-decoration: none; }
.sidebar-menu li:first-child a          { }
.sidebar-menu li:last-child a           { }
.sidebar-menu li ul a                   { padding: 14px 5px 14px 50px; font-weight: normal; }
.sidebar-menu li.active li.active a     { color: #6964A7; font-weight: bold; }
.sidebar-menu li:last-child             { border-bottom: 0 }
.sidebar-menu ul                        { list-style: none; margin: 0; padding: 0; }
.sidebar .panel-default                 { margin: 0; border-radius: 0; border: 1px solid #D8DCEE; }
.table                                  { border-radius: 4px }
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th
                                        { background-color: #F4F8FF }
.table > thead > tr > .success,
.table > tbody > tr > .success,
.table > tfoot > tr > .success,
.table > thead > .success > td,
.table > tbody > .success > td,
.table > tfoot > .success > td,
.table > thead > .success > th,
.table > tbody > .success > th,
.table > tfoot > .success > th
                                        { background-color: #FDFCEC!important }
.table > thead > tr > th                { border-bottom: 1px dotted #DDD }
.table > thead > tr > th,
label                                   { color: #41484F; font-weight: 500; font-family: Roboto; }
.link-dotted                            { border-bottom: 1px dotted; }
.link-dotted:hover                      { cursor: pointer; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
                                        { border-top: 1px dotted #DDD; max-width: 210px; }
.table > thead > tr > th,
th                                      { border-bottom: 0!important; border-top: 0!important; font-weight: bold; }
.tools .btn.btn-primary                 { background: #6964A7; border-radius: 3px; font-size: 11px; padding: 4px 6px; margin-top: -5px; }
.jq-checkbox.checked,
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar
                                        { background-color: #6964A7 }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus        { background-color: #5E5996; }
.tools label                            { margin-top: 3px }
a,
.pagination > li > a,
.pagination > li > span
                                        { color: #6964A7 }
body                                    { background-color: #F1F4F9; color: #4A596B; font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 13px; }
dt                                      { font-weight: bold }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.panel-title                            { color: #4A596B; font-family: Roboto, Helvetica, Arial, sans-serif; margin-bottom: 20px; font-weight: bold; }
label                                   { padding-right: 5px;; }
tbody tr:last-child td:first-child      { border-radius: 0 0 0 5px }
tbody tr:last-child td:last-child       { border-radius: 0 0 5px 0 }

@media (max-width:1110px) {
    .navbar-form .form-control          { margin: 0; }
}
@media (max-width:990px) {
    .content                            { overflow: visible; padding-left: 0; }
    .navbar-form                        { display: none }
    .navbar-nav > li > a                { padding-left: 25px }
    .b-page-stats td { width: 33.3333%; min-height: 150px ; display: block; float: left; }
    .sidebar                            { float: none; width: 100%; margin-bottom: 40px; }
    .navbar .badge                      { background: #A564A7; }
}
@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a
                                        { color: #fff }
}

iframe { width: 100%; border: 0px; min-height: 170px; }