/*
 * Scheme dark-blue
 */
body {
    background-color: #f7f7ff;
}
.b-header a {
    color: #203060;
}
.b-nav-main {
    background: #203060;
}

.b-nav-main li.active a {
    background: #5372be;
    color: #eee;
}
.b-nav-filter {
    border-bottom-color: #203060;
}
.b-nav-filter li.active a {
    background: #203060;
    color: #fff;
}

.b-nav-pills li.active a, .b-nav-pills li.active a:hover {
    background: #cdcde7;
    color: #203060;
    border-color: #203060;
}
.b-nav-pills li a {
    color: #777;
    border-color: #cdcde7;
}