html, body                              { font-family: 'Exo 2', sans-serif; min-height: 100%; color: #363A46; font-size: 13px; font-weight: 500; font-style: normal; }
dt                                      { font-weight: 600 }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
                                        { font-family: 'Exo 2', sans-serif }
*                                       { outline: none!important }
.jq-radio.checked .jq-radio__div        { background: #6964A7 }
.jq-checkbox.checked                    { background-color: #6964A7 }
.table>thead>tr>th, .help-block, label  { font-size: 12px }
.mb15                                   { margin-bottom: 15px!important }
.pace .pace-progress                    { background: #00c0ef; position: fixed; z-index: 2000; top: 0; left: 0; height: 2px; -webkit-transition: width 1s; -moz-transition: width 1s; -o-transition: width 1s; transition: width 1s; }
.pace-inactive                          { display: none }
.sidebar-menu                           { list-style: none; margin: 0; padding: 0; }
.sidebar-menu ul                        { list-style: none; margin: 0; padding: 0; }
.sidebar-menu li                        { list-style: none; margin: 0; padding: 0; position: relative; }
.sidebar-menu li                        { border-top: 1px solid rgba(255, 255, 255, 0.075) }
.sidebar-menu > li:last-child           { border-bottom: 1px solid rgba(255, 255, 255, 0.075) }
.sidebar-menu a                         { padding: 15px 5px 15px 15px; display: block; color: rgba(255, 255, 255, 0.75); font-size: 13px; font-weight: 400; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; }
.sidebar-menu li a .ion                 { font-size: 17px; position: relative; top: 2px; margin-right: 5px; }
.sidebar-menu li a:hover                { text-decoration: none; color: #fff; background-color: #6964A7; }
.sidebar-menu li ul a                   { padding: 14px 5px 14px 42px }
.sidebar-menu li.active > a             { color: #fff }
.sidebar-menu li.active li.active       { background: rgba(105, 100, 167, 0.79) }
.sidebar-menu .dcjq-parent-li.active    { background: rgba(255, 255, 255, 0.1) }
.sidebar-menu .dcjq-parent-li.active li { background: rgba(0, 0, 0, 0.7) }
.sidebar-menu li.active li.active:before
                                        { display: block; content: ""; position: absolute; top: 17px; right: 0; width: 0; height: 0; border-width: 6px; border-color: rgba(0, 0, 0, 0) #3A3440 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); border-style: solid; z-index: 10; }
.sidebar-menu li.active li.active a     { color: #fff }
.sidebar-menu li:hover ul li            { background: rgba(0, 0, 0, 0) }
.sidebar-menu li a i                    { width: 20px; margin-top: 2px; }
.sidebar-menu li a [class^="ion-"]      { }
.sidebar-menu .sub                      { display: none }
/*panels*/
.user-panel                             { padding: 20px 10px 10px; overflow: hidden; }
.user-panel .image                      { border: 1px solid rgba(255, 255, 255, 0.3); border-radius: 50px; padding: 3px; }
.user-panel .image img                  { width: 45px; height: 45px; border: 1px solid #DFDFDF; border-radius: 50px; background-color: #6964A7; }
.user-panel .info, .user-panel .info a  { color: #fff }
.user-panel .info                       { font-weight: 600; padding: 5px 5px 5px 15px; font-size: 14px; line-height: 1; }
.user-panel .info p                     { margin-bottom: 9px; font-weight: 300; font-style: italic; }
.user-panel .info span                  { font-weight: 600; margin-right: 5px; }
.user-panel .info a                     { text-decoration: none; padding-right: 5px; margin-top: 3px; font-size: 11px; font-weight: normal; }
.panel-default                          { border: 0px; -webkit-box-shadow: none; box-shadow: none; position: relative; }
.panel-default > .panel-heading         { background-color: #6964A7; border: 0px; color: #fff; font-weight: 600; border-radius: 0; padding-top: 15px; padding-bottom: 15px; }
.col-md-6 .panel-default > .panel-heading { border-radius: 4px 4px 0 0; }
.col-md-12 .panel-default > .panel-heading:nth-child(1)
                                        { border-radius: 0 }
.panel-title                            { font-weight: 600; font-size: 13px; }
.panel-footer                           { border-top: 1px dotted #DDD; background: #fff; padding-right: 50px; }
.panel-body.no-padding                  { padding: 0 }
.panel-body.no-padding .table           { margin-bottom: 0; }

.panel.panel-default:after,
.panel.panel-default.noborder:after              { pointer-events: none; position: absolute; content: ''; height: 0; width: 0; bottom: 0; right: 0; background: -webkit-linear-gradient(135deg, #EEEEEE 45%, #D9DDE7 50%, #D9DDE7 56%, #D9DDE7 80%); background: linear-gradient(315deg, #EEEEEE 45%, #D9DDE7 50%, #D9DDE7 56%, #D9DDE7 80%); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: width, height; transition-property: width, height; -webkit-transition-delay: 2s; transition-delay: 2s; width: 25px; height: 25px; z-index: 5; }
.panel.panel-default:before,
.panel.panel-default.noborder:before             { position: absolute; content: ''; bottom: 0; right: 25px; background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0.04) 45%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 80%); background: linear-gradient(315deg, rgba(0, 0, 0, 0.04) 45%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 80%); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: width, height; transition-property: width, height; -webkit-transition-delay: 2s; transition-delay: 2s; width: 20px; height: 20px; z-index: 6; }
.col-md-12 .panel-default:before, .col-md-12 .panel-default:after
                                        { content: none; }
.col-md-12 .panel-default { border: 1px solid #6964A7; }
.col-md-12 .panel-default.noborder{ border: 0px; }
.panel.panel-default.noborder .panel-footer { padding-right: 40px }
.col-md-12 .panel-footer                { padding-right: 15px }
.btn.btn-primary                        { padding: 8px 9px; padding-bottom: 9px; font-weight: 600; border-radius: 5px; font-size: 12px; background: #A764A2!important; border: 0px; }
.btn:hover                              { opacity: 0.8 }
.label-primary                          { background: #A764A2 }
.tools .btn.btn-primary                 { background: #6964A7; border-radius: 3px; padding: 3px 6px; font-size: 12px; position: relative; top: -5px; }
.tools .fa.fa-times:before              { content: "\f129"; font-family: "Ionicons"; }
.tools .fa.fa-minus:before              { content: "\f209"; font-family: "Ionicons"; }
.tools .fa.fa-minus.fa-chevron-down:before
                                        { content: "\f209"; font-family: "Ionicons"; }
.tools label                            { margin-top: 3px }
.tools .jq-checkbox.checked             { background-color: #A764A2; background-position: 6px; width: 20px; height: 20px; max-width: 20px; max-height: 20px; }
.nav.nav-tabs.atlass                    { margin-bottom: 15px; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
                                        { color: #49495A }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
                                        { background-color: #eee; border: 0px; }
.nav-tabs>li.active                     { border: 2px solid #49495A; border-bottom-color: #eee; border-radius: 5px 5px 0 0; }
.nav-tabs                               { border-color: #49495A; border-width: 2px; }
.nav-tabs>li                            { margin-bottom: -2px }
.nav-tabs a                             { border-bottom: 1px dotted #49495A!important; padding: 0!important; margin: 8px 15px 5px!important;line-height: 1; color: #49495A; font-size: 12px; font-weight: bold; padding-bottom: 2px; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { background-color: #eee; color: #49495A; }
.nav-tabs .label-primary { top: -3px; position: relative; }
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline
                                        { padding-top: 0; /*margin-top: -5px; */; ; }
.table>thead>tr>th                      { border-bottom: 1px dotted #DDD }
.btn.mb15, .mb15 .btn.btn-primary, .col-md-12 .btn.btn-primary.pull-right
                                        { padding: 6px 10px }
b, strong, th, .strong                  { font-weight: 600; color: #000; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
                                        { border-top: 1px dotted #DDD }
.input-group-addon                      { border-color: #ddd }
label                                   { padding-right: 5px }
.close                                  { font-family: Arial }
a                                       { color: #546494 }
.content-header h1                      { font-size: 18px; font-weight: 600; margin-bottom: 15px; }
.breadcrumbs                            { margin: 10px 0 35px -15px; }
.breadcrumbs h1                         { font-size: 18px; color: #49495A; margin: 0; margin-left: 15px; margin-top: 10px;  font-weight: bold; }
.breadcrumbs .breadcrumb                { display: inline-block; background-color: transparent; margin-bottom: 0px; border-radius: 0; }
.breadcrumbs .breadcrumb > li + li:before
                                        { padding: 0 5px; content: "\00AB"; color: rgba(255, 255, 255, 0.8); color: #ADAFB0; color: #6964A7; }
.breadcrumbs .breadcrumb li a           { font-size: 13px; font-weight: 600; border-bottom: 1px dotted; }
.breadcrumbs .breadcrumb li a:hover     { text-decoration: none; border-bottom: 0px; }
.breadcrumbs .breadcrumb .active        { font-weight: 600; font-size: 13px; color: #fff; color: #6964A7; color: #A764A2; }
.sidebar-form                           { padding: 10px 10px; border-top: 1px solid rgba(255, 255, 255, 0.075); }
.sidebar-form .form-control             { border-radius: 0; background: rgba(0, 0, 0, 0.4); border-color: rgba(0, 0, 0, 0.8); }
.sidebar-form .btn                      { background: rgba(0, 0, 0, 0.8); }
.sidebar-form .btn i                    { color: rgba(255, 255, 255, 0.75) }
.help-block                             { font-weight: normal }
.help-block.inline                      { display: inline; margin-left: 15px; }
.callout.callout-warning                { background-color: #FEFBED; border-color: #F1E7BC; border-radius: 4px; }
.callout                                { margin: 0 0 20px 0; padding: 15px 30px 15px 15px; border-left: 5px solid #EEE; }
.callout.callout-warning h4             { color: #C09853; font-weight: 600; }
.callout h4                             { margin-top: 0; font-size: 16px; }
.callout p:last-child                   { margin-bottom: 0 }
.alert                                  { padding-left: 30px; margin-left: 15px; position: relative; margin-top: 15px; }
.alert > .fa, .alert > .glyphicon       { position: absolute; left: -15px; top: -15px; width: 35px; height: 35px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; line-height: 35px; text-align: center; background: inherit; border: inherit; }
.table>thead>tr>.success, .table>tbody>tr>.success, .table>tfoot>tr>.success, .table>thead>.success>td, .table>tbody>.success>td, .table>tfoot>.success>td, .table>thead>.success>th, .table>tbody>.success>th, .table>tfoot>.success>th
                                        { background-color: #FDFCEC!important }
html, body                              { height: 100%; background-color: #251F2C; background-image: url(../img/sidebar.png); }
#wrapper                                { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; padding: 0 0; background: #eee; margin-left: 260px; background-image: url(../img/wrapper.png); }
#content                                { padding: 5px 20px; position: relative; max-width: 1000px; }
html:before                             { border-left: 5px solid rgba(255, 255, 255, 0.1); content: ""; position: absolute; height: 100%; left: 255px; top: 0px; display: block; }
#sidebar                                { width: 260px; float: left; height: 100%; margin-left: -260px; padding-right: 5px; }
#footer                                 { height: 200px; background-color: #eee; margin-left: 260px; padding: 20px; display: none; }
.b-page-stats                           { position: relative; width: 100%; border-top: 2px solid #49495A; }
.b-page-stats table                     { margin: auto }
.b-page-stats td                        { vertical-align: top; padding: 0 12px; }
.b-page-stats-head                      { font-size: 14px; font-weight: 600; color: #000; }
.navbar                                 { background-color: #6964A7; border: 0px; height: 75px; overflow: hidden; margin: 0px; font-weight: 500; padding-right: 10px; position: relative; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)); background-image: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0)); background-image: url(../img/header.png); }
.navbar .navbar-brand, .navbar .navbar-nav >li>a
                                        { padding-top: 28px; padding-bottom: 30px; position: relative; z-index: 5; }
.navbar .navbar-nav >li>a:hover         { background: rgba(0, 0, 0, 0.1) }
.navbar>.container .navbar-brand        { color: transparent; background: url(../img/logo-alto-mini.png) 0px 7px no-repeat; width: 200px; margin-right: 35px; margin-left: -5px; height: 75px; }
.navbar .navbar-form                    { padding: 10px 15px }
.navbar .navbar-form .form-control      { border-radius: 0; font-size: 13px; padding: 10px 15px; height: auto; font-weight: 500; border-radius: 50px; }
.navbar .container                      { width: 100%; max-width: 1280px; margin: 0; }
.navbar .line                           { display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 5px; background-color: rgba(255, 255, 255, 0.1); z-index: 1; }
.navbar a                               { color: #fff }
.navbar .badge                          { background: #A764A2; padding-bottom: 4px; }

.table {border-radius: 4px;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td
                                        { padding: 11px }
.table>thead>tr>th, th                  { color: #fff; background-color: #6964A7!important; border-bottom: 0px!important; border-top: 0px!important; }
.table>thead                            { border-bottom: 1px solid #fff }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
                                        { background: #6964A7; border-color: #6964A7; }
.pagination>li>a, .pagination>li>span { color: #6964A7; }


