/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

label, input, button, select, textarea { font-size: 12px; font-weight: normal; }

input, textarea { background-color: #FCFCFC; border: 1px solid #ddd;padding: 7px 12px; display: inline-block; font-size: 12px; color: #555; vertical-align: middle; line-height: 1.5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
input.wide, textarea.wide, select.wide, .jq-selectbox.wide { width: 100%; }

.jq-checkbox {
	width: 19px;
	height: 19px;
	border: 1px solid #ddd;
	background: #fff;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 2px;
	border-radius: 3px;
	margin-top: -3px;
    -webkit-transition: background-color 0.25s linear;
    -moz-transition: background-color 0.25s linear;
    -o-transition: background-color 0.25s linear;
    -ms-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}

.jq-checkbox.checked {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpi/P//PwNJAKSBCBwAxFxgw4lQnPkfApYQoyEaiP8B8R8gjkDWkArEWWiK/YD4F1RDOkwcRAgB8W+oRAxUwhGIv0KdUo5sEIyRiGR1FRB/gCpuR3cmMqf4PyqYDsSM+DQwQE0EgWVAzIwtINAFQCbGAjEbrpBjJDWmSdYAEGAAfrVlTrJ6Ll0AAAAASUVORK5CYII=);
	background-position: 3px;
	background-repeat: no-repeat;
	border-color: transparent;
}


.jq-checkbox.focused {
	border: 1px solid #08C;
}
.jq-checkbox.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-radio {
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
	border-radius: 50%;
	background: #fff;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 3px;
	position: relative;

    -webkit-transition: background-color 0.25s linear;
    -moz-transition: background-color 0.25s linear;
    -o-transition: background-color 0.25s linear;
    -ms-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}
.jq-radio.checked {
	border-color: #F5F5F5;
}
.jq-radio.checked .jq-radio__div {
	width: 12px;
	height: 12px;
	margin: 3px 0 0 3px;
	border-radius: 50%;
	border: 3px solid #fff;
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}


.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	font-weight: normal;
	min-width: 100px;
}
.jq-selectbox__select {
	padding: 0 45px 0 10px;
	border: 1px solid #ddd;
	color: #32323C;
	height: 34px;
	background: #FCFCFC;
	border-radius: 4px;
}
.jq-selectbox__select:hover {
	background-color: #eee;
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #ddd;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 7px 0;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	border-left: 1px solid #eee;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #32323C;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox__dropdown {
	top: 33px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	background: #FFF;
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #32323C;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 10px 6px;
	color: #231F20;
}
.jq-selectbox li.selected {
	color: #FFF;
}
.jq-selectbox li:hover {
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}

.jq-select-multiple {
	padding: 1px;
	border: 1px solid #ddd;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #32323C;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #ddd;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #ddd;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}


.jq-file {
	border: none;
	height: 60px;
}

.jq-file:focus {
	outline:none;
}

.jq-file__browse {
	display: inline-block;
	padding: 5px 12px;
	text-align: center;
	color: #999;
	border-left: 1px solid #eee;
	background: #fff;
	cursor: pointer;
}
.jq-file {
	width: 270px;
}
.jq-file input {
	cursor: pointer;
	height: auto;
	line-height: 1em;
}
.jq-file__name {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 80px 5px 10px;
	border: none;
	background: none;
	color: #32323C;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #fff;
	background: #fcfcfc;
	border-radius: 4px;
}
.focused .jq-file__name {
	border: 1px solid #5794BF;
}
.jq-file__browse {
	position: absolute;
	top: 1px;
	right: 1px;
	padding: 5px 10px;
	background: #F1F1F1;
	color: #32323C;
	border-radius: 4px;
}
.jq-file:hover .jq-file__browse {
	background-color: #E6E6E6;
}
.jq-file:active .jq-file__browse {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-file.disabled .jq-file__name {
	color: #888;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
	border-color: #ddd;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content,
.ui-widget-header {
	border: 1px solid #ddd;
	background: #eee;
	color: #32323C;
	z-index: 99999!important;
}

.ui-widget-content { 
	background: #f8f8f8;
    padding: 0;
}
.ui-menu-item a {
    border: 1px solid transparent;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #ccc;
	background: #ECECEC;
	font-weight: normal;
	color: #212121;
}