/**
 * Блог
 *
 * @file actions/ActionBlog/blog.tpl
 */

.blog { margin-bottom: 10px; _border-bottom: 1px solid #eee; overflow: hidden; }

/* Хидер */
.blog-header               { position: relative; padding: 15px 0 15px 70px; border-bottom: 1px solid #eee; }
.blog-header ul					{ display: table; width: 100%; }
.blog-header ul li					{ display: table-cell; vertical-align: middle; border-right: 2px solid #e7edef; width: 100px; height: 65px; text-align: center; font-size: 12px; color: #132c37;  }
.blog-header ul li:last-child		{ border: none; }

.blog-header ul li.blog-title { text-align: left; min-width: 400px; padding-right: 30px; }
.blog-header ul li.blog-title h2 { font-size: 20px; font-weight: bold;  }
.blog-header ul li.blog-title i { position: relative; top: 5px; }

.blog-header .avatar       { position: absolute; top: 25px; left: 0; }

.blog-header .vote                               	  { height: 65px; width: 100px; position: relative; top: 13px; text-align: center; }
.blog-header .vote .vote-count         	  { width: 100px; height: 20px; color: #132c37; font-weight: bold; font-size: 20px; line-height: 20px; margin-bottom: 5px; }

.blog-header .vote .vote-item		  { height: 16px; width: 24px; line-height: 16px; float: none; display: inline-block; vertical-align: top; }

.blog-header .vote .vote-item.vote-down 		{ border-radius: 4px 0 0 4px; border: 1px solid #c3cbdb;  }
.blog-header .vote .vote-item.vote-up 		{ border-radius: 0 4px 4px 0; }
.blog-header .vote .vote-item.vote-up i 		{ background-position: -46px -11px; width: 8px; height: 8px; margin-top: 4px; }
.blog-header .vote .vote-item.vote-down i 		{ background-position: -56px -14px; width: 8px; height: 2px; margin-top: 7px; }


.blog-header .actions { margin-bottom: 0; }

/* Описание */
.blog-description { padding: 15px; border-bottom: 1px solid #eee; }

/* Информация о блоге */
.blog-info { padding: 15px; 15px; border-bottom: 1px solid #eee; }

/* Кнопка показывающая/скрывающая информацию о блоге */
.blog-more       { display: block; padding: 10px 0; text-align: center; text-decoration: none; background: #fafafa; }
.blog-more:hover { background: #eee; }