/**
 * Фотосет
 */


.photoset { margin-bottom: 15px; }


/**
 * Дефолтный фотосет
 * 
 * @template topics/topic.photoset.tpl
 */
.photoset-type-default                         { padding-top: 10px; }

.photoset-type-default .photoset-title         { border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 15px; font-size: 16px; }

.photoset-type-default .photoset-images        { overflow: hidden; zoom: 1; }
.photoset-type-default .photoset-images li     { float: left; margin: 0 9px 9px 0; position: relative; border: 3px solid #eee; }
.photoset-type-default .photoset-images li img { vertical-align: top; }


