/**
 * Профиль пользователя
 *
 * @template actions/ActionProfile/*.tpl
 */


/**
 * Шапка профиля
 *
 * @template layouts/layout.user.tpl
 */
.profile 					{ min-height: 130px; margin-bottom: 0; padding-left: 150px; position: relative; }

.profile .avatar 			{ position: absolute; top: -30px; left: 0; width: 130px; height: 130px; }

.profile ul					{ display: table; }
.profile ul li					{ display: table-cell; vertical-align: middle; border-right: 2px solid #e7edef; width: 100px; height: 65px; text-align: center; font-size: 12px; color: #132c37;  }
.profile ul li:last-child		{ border: none; }
.profile ul li h4				{ font-weight: bold; font-size: 20px; line-height: 15px; color: #132c37; }

.profile ul li.profile-name	{ font-size: 16px; text-align: left; min-width: 210px; padding-right: 30px; }
.profile ul li.profile-name h2	{ color: #132c37; font-size: 22px; font-weight: bold; }
.profile ul li.profile-name span.profile-online	{ display: inline-block; background-color: #a3d900; width: 9px; height: 9px; border-radius: 9px; }
.profile ul li.profile-name .no-profile-name { color: #132c37; font-size: 22px; font-weight: bold; }

.profile-wrapper 			{ padding-top: 30px; }
.profile-wrapper p			{ margin-bottom: 35px; }
.profile-wrapper .profile-contacts { margin-bottom: 35px; }
.profile-wrapper .profile-contacts li { display: inline-block; width: 44%; vertical-align: top; margin-right: 3%; margin-bottom: 10px; position: relative; }
.profile-wrapper .profile-contacts li:after { display: block; width: 100%; height: 2px; border-bottom: 1px dotted #435D79; position: absolute; left: 0; bottom: 3px; content: ''; z-index: 1; }
.profile-wrapper .profile-contacts li em	{ background: #f9f9f9; padding-right: 5px; position: relative; z-index: 2; font-style: normal; }
.profile-wrapper .profile-contacts li span 	{ float: right; background: #f9f9f9; padding-left: 5px;position: relative; z-index: 2; }

/**
 * Заметка
 * 
 * @template blocks/block.profileNote.tpl
 */
.user-note                 { background: #F1F7AF; border: 1px solid #E1EA83; padding: 15px; }
.user-note .user-note-text { margin-bottom: 10px; }
.user-note .actions        { margin-bottom: 0; }