/**
 * Blocks
 */

/**
 * Base
 */
.block                 { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #dbe0ed; }
.block:last-child      { margin-bottom: 0; border-bottom: 0; }

.block a	 		{ color: #435D79; }
.block a:hover 	{ color: #5e7b9b; }

.block .text           { font-size: 13px; line-height: 18px; }
.block .max-height-200 { overflow: auto; max-height: 200px; position: relative; }
.block .loading        { min-height: 100px; background-image: url(../images/loader.gif); background-position: 50% 45px; }
.block .search-form    { padding: 0; margin-bottom: 20px; }

/* Header */
.block-header              { position: relative; margin-bottom: 15px; }
.block-header .block-title { color: #718BA1; font-size: 17px; }

/* Nav */
.block-nav      { margin-bottom: 15px; }
.block-nav .nav,
.block-nav .dropdown { margin-bottom: 0; }

.block-nav .nav.nav-pills { display: block; padding-left: 10px; border: 0; border-bottom: 1px solid #dbe0ec; }

.block-nav .nav.nav-pills li	{ font-size: 11px; }
.block-nav .nav.nav-pills li a { background: transparent; padding: 4px 12px; border: none; border: 1px solid transparent; border-bottom: 0; position: relative; top: 1px; }
.block-nav .nav.nav-pills li.active a { background: #f9f9f9; border-color: #dbe0ec; border-radius: 3px 3px 0 0; }


/* Content */
.block-content { color: #718BA0; font-size: 13px; }
.block-content a { text-decoration: underline; }

/* Footer */
.block-footer { }

/* Update button */
.block-update        { position: absolute; top: 13px; right: 15px; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; cursor: pointer; }
.block-update.active { background-position: -16px 0; }

.block .notice-empty { width: 100%; padding: 15px; text-align: center; margin: 0; box-sizing: border-box; }
/**
 * @type stream
 * @file blocks/block.stream.tpl
 * @file blocks/block.stream_comment.tpl
 * @file blocks/block.stream_topic.tpl
 */
.block-type-stream .block-content { padding: 0; }

/**
 * @type blogs
 * @file blocks/block.blogs.tpl
 */
.block-type-blogs { }
.block-type-blogs .item-list li 	{ margin-bottom: 7px; padding-left: 15px; font-weight: bold; }
.block-type-blogs .item-list li:before { position: absolute; left: 0; top: 0; content: '•'; color: #c2cadb; }
.block-type-blogs .item-list li a	{ text-decoration: underline; }
.block-type-blogs .item-list li .block-count { left: 10px; top: 0; }


/**
 * @type blog categories
 * @file blocks/block.blogCategories.tpl
 */
.block-type-blog-categories .block-header .blog-categories-admin { position: absolute; top: 13px; right: 13px; }

/**
 * @type blog add
 * @file blocks/block.blogAdd.tpl
 */
.block.block-type-blog-add {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #eee;
	background: #fafafa;
	padding: 10px;
	text-align: center;
}
.block.block-type-blog-add p { margin-bottom: 25px; }

/**
 * @type blog navigation
 * @file blocks/block.blogNav.tpl
 */
.block-type-blog-navigation p { margin-bottom: 15px; }
.block-type-blog-navigation .blog-navigator-categories option:first-child { color: #aaa; }

/**
 * @type profile
 * @file blocks/block.profilePhoto.tpl
 */
.block-type-profile-photo                        { background: none; border: none; padding: 0; text-align: center; }
.block-type-profile-photo .profile-photo-wrapper { position: relative; min-height: 50px; display: inline-block; }
.block-type-profile-photo .profile-photo         { vertical-align: top; }

.block-type-profile-photo .status                { position: absolute; top: 10px; left: 0; padding: 4px 9px; }
.block-type-profile-photo .status.status-online  { background: #b7bc1c; background: rgba(183, 188, 28, .8); color: #fff; }
.block-type-profile-photo .status.status-offline { background: #333; background: rgba(0, 0, 0, .6); color: #fff; }

.profile-photo-menu    {
    padding: 7px 10px 10px;
    background: #f7f7f7;
    display: block;
}
.profile-photo-edit, .profile-photo-remove {
    display: block;
    width: 250px;
    height: 18px;
}

/**
 * @type profile note
 * @file blocks/block.profileNote.tpl
 */
.block-type-profile-note { border: none; padding: 0; }

/**
 * @type profile nav
 * @file blocks/block.profileNav.tpl
 */
.block-type-profile-nav { padding: 0; background: none; }

/**
 * @type profile actions
 * @file blocks/block.profileActions.tpl
 */
.block-type-profile-actions { border: none; min-height: 120px; }
.block-type-profile-actions ul li            { margin-bottom: 10px; }
.block-type-profile-actions ul li:last-child { margin-bottom: 0; }
.block-type-profile-actions ul li a	 { text-decoration: none; color: #728ba0; font-size: 12px; }
.block-type-profile-actions ul li a:hover { text-decoration: underline; }
.block-type-profile-actions ul li a.followed { color: #f00; }
.block-type-profile-actions ul li i { margin-right: 10px; }
.block-type-profile-actions ul li .icon-native-profile-new-talk { margin-top: 3px; }
.block-type-profile-actions ul li .icon-native-profile-add-friend { margin-top: 2px; }
.block-type-profile-actions ul li .icon-native-profile-subscribe { margin-right: 7px; }
.block-type-profile-actions ul li .follow-link { display: inline-block; padding-left: 25px; background: url(../images/icons-native.png) no-repeat -146px -27px; height: 15px; }

/**
 * @type activity
 * @file blocks/block.activityX.tpl
 */
.block-type-activity p     { margin-bottom: 15px; }
.block-type-activity ul li { margin-bottom: 5px; }
.block-type-activity .note { display: block; margin-bottom: 15px; color: #aaa; }