/* -------------------------------------------------------------------
	ALTO
------------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic&subset=latin,cyrillic);

body, div,
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
{ font-family: "Ubuntu"!important; }

div.dataTables_wrapper .ui-widget-header,
.b-wbox-header,
.modal-header,
.table th 					 { background-color: #EFEFEF; border-bottom: 2px solid #DDD; }

.b-wbox-header .close,
.b-wbox-header-title 		 { color: #333; }

#breadcrumb 				 { background-color: #EFEFEF; }

#breadcrumb,
.btn 		 				 { border-bottom-width: 2px; }
.btn-primary 				 { border-bottom-color: #22537E; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary 	   { border-bottom-color: #225079; }
.btn-danger 				 { border-bottom-color: #AC2F2B; }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger 			 { border-bottom-color: #6E1613; }
.btn,.b-page-stats,
.b-content-header-title 	 { font-weight: 300; }
.input-group-btn .btn 		 { padding-bottom: 7px; }
.navbar-inverse 			 { border-bottom: 2px solid #181C1F; }

.menu-left li 				 { border-top: 1px solid rgba(255, 255, 255, 0.05); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.menu-left li .active,
.menu-left li a:hover,
.menu-left li a,
.navbar-inverse .navbar-nav li a,
.menu-left .menu-header a[data-toggle=collapse]:before  { color: #ccc!important; }
.menu-left ul 						  { position: relative;}
.menu-left li ul li:first-child:after,
.menu-left li:first-child:after 	  { content: ""; display:block; border-top: 1px solid rgba(0, 0, 0, 0.1); top: 0; position: absolute; width: 100%; }

.logo span 					 { background: url(../img/logo-alto.png); }

.container:before,
.badge, .btn-default .badge,
.b-page-stats,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.dropdown-menu,
.b-sidebar,
body 						 { background:#383E4B; }

.menu-left li .active,
.menu-left li a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.navbar-inverse 			 { background-color:#4C5966!important; }

.site-search input 			 { background: #272D3A; }