/* -------------------------------------------------------------------
	AIR
------------------------------------------------------------------- */

.logo span {
	background: url(../img/logo-air.png);
}

.site-search input { background: #5282AD; border: 1px solid #5282AD; }

.container:before,
.badge, .btn-default .badge,
.b-page-stats,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.dropdown-menu,
.b-sidebar,
body 						{ background:#6d9bc4; }

.menu-left li .active,
.menu-left li a:hover,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.navbar-inverse 			{ background-color:#95CC62!important; }

.b-wbox-header,
.modal-header,
.table th,
div.dataTables_wrapper .ui-widget-header {
	background-color: #95CC62;
	color: #fff;
	border-color: #F5F5F5;
}

.b-page-stats,
.b-wbox-header .close,
.b-wbox-header-title {
	color: #fff;
}

.b-wbox-header label.checked {
	color: #95CC62;
}
