/*
 * CUSTOM.CSS
 *
 */

/* Classes for customization of logo image and text
 * See tpls/commons/common.header_nav_pages.tpl
 */
.logo-img {
    max-height: 64px;
}
.logo-name {

}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 870px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1030px; /* 1000px - container + 30px */
    }
}

/* UPLOADER */
.uploader-actions {
    position: relative;
}

.uploader-actions-file {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 20px;
    cursor: pointer
}

/* MULTI-UPLOADER */
.js-alto-multi-uploader-form .js-add { position: relative; overflow: hidden; }
.js-alto-multi-uploader-form canvas { width: 100%; }
.js-alto-multi-uploader-form .js-file-delete {
    top: -6px;
    right: 17px;
    color: #FF0000;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    position: absolute;
    font-size: 20px;
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
.js-alto-multi-uploader-form .progress {
    margin-bottom: 0;
}
.js-alto-multi-uploader-form .js-file-name {
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}
.js-alto-multi-uploader-form .js-file-tpl:hover .js-file-delete {
    opacity: 1;
}
.js-alto-multi-uploader-form .js-file-rotate {
    top: 33%;
    left: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: -16px 0 0 -16px;
    position: absolute;
}
.js-alto-multi-uploader-form .js-file-rotate i { font-size: 36px; }
.js-alto-multi-uploader-form { position: relative; }
.js-alto-multi-uploader-form input {
    position: absolute;
    overflow: hidden;
    -moz-opacity: 0;
    filter:  alpha(opacity: 0);
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    top: -10px;
    left: -10px;
    font-size: 30px;
}
.js-uploader-picker {
    border: 1px dashed #808080;
    padding: 12px;
}
.js-uploader-picker-hover {
    background: #ffff00;
    border: 1px dashed yellowgreen;
}


/* СНИППЕТЫ
____________________________________________________________*/
.snippet-menu {
    width: 20px;
    height: 16px !important;
    background-image: none !important;
}
.snippet-menu > a, .snippet-menu > a:hover {
    background: url('../images/editor_snippet.png') no-repeat;
    width: 20px;
    height: 20px;
    background-position-x: -2px;
    background-position-y: -2px;
}
.snippet-menu ul {
    border: 1px solid #c7c7c7 !important;
    border-radius: 4px;
}
.snippet-menu li {
    border: 0;
    border-bottom: 1px solid #c7c7c7 !important;
    border-radius: 4px !important;
}
.snippet-menu li:last-child {
    border-bottom: 0 !important;
}
.snippet-menu li a {
    background: none;
    text-align: left;
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 6px !important;
    width: 160px !important;
    background: white;
    color: #434343 !important;
}
.snippet-menu li a:hover {
    background-image: none;
    background-color: #e6e6e6 !important;
}

.spoiler {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.spoiler-title {
    background: #eee;
    color: #555;
    text-align: left;
    padding-left: 12px;
    height: 18px;
    line-height: 18px;
}

.spoiler-slider {
    display: inline-block;
    float: right;
    width: 100px;
    text-align: right;
    padding-right: 12px;
    color: #555;
    cursor: pointer;
}

.spoiler-slider:hover {
    text-decoration: underline;
}

.spoiler-text {
    display: none;
    padding: 12px;
}

/* ФОТОСЕТ
______________________________________________________________*/
.am-wrapper {
    float: left;
    position: relative;
    overflow: hidden;
}

.am-wrapper img {
    position: absolute;
    outline: none;
}
.alto-photoset {
    display: block;
    margin: 0;
    padding: 0;
}

/* ДОБАВЛЕНИЕ КАРТИНКИ В РЕДАКТОР
____________________________________________________________*/
.editor-insert-picture {
    width: 20px;
    height: 16px !important;
    background-image: none !important;
}
.editor-insert-picture > a, .editor-insert-picture > a:hover {
    background: url('../images/editor_insert_image.png') no-repeat;
    width: 20px;
    height: 20px;
    background-position-x: -2px;
    background-position-y: -2px;
}
.editor-insert-picture ul {
    border: 1px solid #c7c7c7 !important;
    border-radius: 4px;
}
.editor-insert-picture li {
    border: 0;
    border-bottom: 1px solid #c7c7c7 !important;
    border-radius: 4px !important;
}
.editor-insert-picture li:last-child {
    border-bottom: 0 !important;
}
.editor-insert-picture li a {
    background: none;
    text-align: left;
    height: 24px;
    line-height: 24px;
    padding: 0 0 0 6px !important;
    width: 160px !important;
    background: white;
    color: #434343 !important;
}
.editor-insert-picture li a:hover {
    background-image: none;
    background-color: #e6e6e6 !important;
}

.image-categories-tree {
    min-height: 400px;
    border: 1px #d3d3d3;
}
li.active.category-show {
    background-color: #e5e5e5;
}
.image-categories-tree span {
    font-style: italic;
    float: right;
    font-weight: normal;
}
#image-container img {
    opacity: 0.8;
    margin-bottom: 1px;
}
#image-container img:hover {
    opacity: 1;
}
#image-container  .masonry-container {
    padding: 0;
}
#image-container  .masonry-item {
    padding-left: 1px;
    padding-right: 1px;
}
