<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">LS Compatibility</lang>
    </name>
    <author>
        <lang name="default">Alto CMS Team</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>1.0</version>
    <requires>
        <livestreet>1.0.2</livestreet>
        <alto>
            <version>0.8</version>
        </alto>
        <system>
            <php>5.3.0</php>
        </system>
    </requires>
    <priority>top</priority>
    <description>
        <lang name="default">Plugin provides compatibility LS-plugins/skins and Alto old style skins with AltoCMS v.1+</lang>
        <lang name="russian">Плагин обеспечиват совместимость LS-плагинов/скинов и Alto-скинов старого типа с AltoCMS v.1+</lang>
    </description>
</plugin>