/* -------------------------------------------------------------------
	
	КНОПКИ
	
	
	Примеры использования:
	
	<button class="btn">Preview</button>
	<a href="#" class="btn">Preview</a>
	
	<button class="btn btn-primary">Save</button>
	
------------------------------------------------------------------- */

.btn, [class|="btn"] {
	display: inline-block;
	
	padding: 7px 15px;
	text-align: center;
	
	border: none;
	border-radius: 0;
	
	font-size: 12px;
	line-height: 16px;
	
	color: #fff;
	
	background: #555;
	background: -moz-linear-gradient(top,  #666666 0%, #555555 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#555555));
	background: -webkit-linear-gradient(top,  #666666 0%,#555555 100%);
	background: -o-linear-gradient(top,  #666666 0%,#555555 100%);
	background: -ms-linear-gradient(top,  #666666 0%,#555555 100%);
	background: linear-gradient(top,  #666666 0%,#555555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#555555',GradientType=0 );

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

	cursor: pointer;
	
	*margin-right: 5px;
}
.btn:hover { text-decoration: none; color: #fff; background: #666; }
.btn:active {
	-moz-box-shadow: 	0 0 7px rgba(0, 0, 0, .5) inset; 
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset; 
	box-shadow: 		0 0 7px rgba(0, 0, 0, .5) inset; 
}

.b-btn-group {
    display: block;
}
.b-btn-group [class|="btn"]:first-child {
    *margin-right: 0;
}


/* Button Primary */
.btn-primary 			{
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0066cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0066cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0066cc);
    background-image: -o-linear-gradient(top, #0088cc, #0066cc);
    background-image: linear-gradient(to bottom, #0088cc, #0066cc);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0066cc',GradientType=0 );
}
.btn-primary:hover 	{ color: #ffffff;
    background-color: #0066cc;
    *background-color: #003bb3;
}
.btn-primary.active { background: #D23E3E; }

/* Button Icon (Without text) */
.btn-icon 			{ padding: 7px 10px; }

.btn[disabled], [class|="btn"][disabled] {
    opacity: 0.6;
}