/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

.input-text {
	width: 150px;
	padding: 5px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset; box-shadow: 0 2px 4px rgba(0,0,0,.07) inset;
	border-radius: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.input-text:focus 	{ border-color: #4D90FE; -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4D90FE; box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4D90FE; }
.input-checkbox 	{ position: relative; top: 1px; margin: 0 2px 0 1px; }

.input-width-full 	{ width: 100%; }
.input-width-50 	{ width: 50px; }
.input-width-100 	{ width: 100px; }
.input-width-150 	{ width: 150px; }
.input-width-200 	{ width: 200px; }
.input-width-250 	{ width: 250px; }
.input-width-300 	{ width: 300px; }
.input-width-400 	{ width: 400px; }
.input-width-500 	{ width: 500px; }

textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

select 		{ padding: 4px; border: 1px solid #ddd; border-radius: 0; }

fieldset { margin-bottom: 30px; padding-top: 20px; border-top: 1px solid #eaeaea; }
fieldset legend { color: #000; font-size: 18px; padding-right: 10px; }

form p { margin-bottom: 20px; }
form label { display: block; margin-bottom: 3px; }
form .icon-question-sign { cursor: help; }

.note { display: block; margin-top: 3px; font-size: 12px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-group { height: 70px; }
.captcha-image { vertical-align: top; float: left; margin-right: 8px; cursor: pointer; border: 1px solid #DDD; }
.captcha-value { height: 60px; font-size: 50px; color: #777; float: left; margin-right: 8px; }
.captcha-update { width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; cursor: pointer; float: left; }
.captcha-update.active { background-position: -16px 0; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 135px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; width: 300px; }

.form-profile { position: relative; }
.b-avatar-change { position: absolute; top: 40px; right: 0; padding: 10px; background: #f7f7f7; font-size: 11px; text-align: center; }

/* Placeholder */
:-moz-placeholder { color: #aaa; }
.placeholder { color: #aaa; }

.mceEditor { display: block; margin-bottom: 20px; }


/* Валидатор 
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #f00; font-weight: bold; font-size: 12px; }
