/* -------------------------------------------------------------------
	ВИДЖЕТЫ
------------------------------------------------------------------- */

.b-widget 					{ background: #fafafa; margin-bottom: 30px; border-radius: 0; }
.b-widget:last-child 		{ margin-bottom: 0; }
.sidebar-left .b-widget 	{ margin-bottom: 10px; }
.b-widget .text            { font-size: 13px; line-height: 18px; }

.b-widget-header 					{ padding: 13px 0px; border-top: 1px solid #eee; position: relative; font-size: 16px; line-height: 1em; font-weight: bold;}
.b-widget-header a 				{ text-decoration: none; color: #333; }
.b-widget-header a.link-dotted 	{ color: #5055B2; }
.b-widget-content 					{ padding: 20px; }
.b-widget-footer 							{ padding-top: 15px; font-size: 11px; border-bottom: 1px solid #eee;}

.b-widget .max-height-200 		{ overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }


/* Block Type - Stream */
.b-widget .block-update 		{ position: absolute; top: 13px; right: 15px; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; cursor: pointer; }
.b-widget .block-update.active 	{ background-position: -16px 0; }


/* Block Type - Activity Settings */
.b-widget.widget-type-activity p 		{ margin-bottom: 15px; }
.b-widget.widget-type-activity ul li 	{ margin-bottom: 5px; }
.b-widget.widget-type-activity .note 	{ display: block; margin-bottom: 15px; color: #aaa; }


/* Block Type - Foldable */
.b-widget.widget-type-foldable { background: none; }
.b-widget.widget-type-foldable .widget-header { background: none; border: none; padding: 0 0 10px; }
.b-widget.widget-type-foldable .widget-content { display: none; background: #fafafa; }

.b-widget.widget-type-talk-search { margin-bottom: 10px; }
.b-widget.widget-type-talk-friends { margin-bottom: 10px; }
