/*
 * Scheme brown
 */
body {
    background-color: #fffff7;
}
.b-header a {
    color: #894000;
}
.b-nav-main {
    background: #894000;
}

.b-nav-main li.active a {
    background: #ff8b23;
    color: #fff;
}
.b-nav-filter {
    border-bottom-color: #894000;
}
.b-nav-filter li.active a {
    background: #894000;
    color: #fff;
}

.b-nav-pills li.active a, .b-nav-pills li.active a:hover {
    background: #ffdbbc;
    color: #894000;
    border-color: #894000;
}
.b-nav-pills li a {
    color: #777;
    border-color: #ffdbbc;
}