<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<id>estheme</id>
    <name>
        <lang name="default">Estheme</lang>
        <lang name="russian">Estheme</lang>
    </name>
    <author>
        <lang name="default">author</lang>
        <lang name="russian">автор</lang>
    </author>
    <homepage>http://altocms.com</homepage>
    <version>1.0.0</version>
    <dirname>estheme</dirname>
    <requires>
        <alto>
             <version>1.0.0</version>
        </alto>
		<system>
            <php>5.3.0</php>
        </system>
    </requires>
    <description>
        <lang name="default">Plugin for creating the template for "Experience Simple"</lang>
        <lang name="russian">Плагин создания тем для шаблона "Experience Simple"</lang>
    </description>
</plugin>
