/*
 * Scheme dark indigo
 */
body {
    background-color: #f7fff7;
}
.b-header a {
    color: #0d1d10; /* 1 */
}
.b-nav-main {
    background: #0d1d10;
}

.b-nav-main li.active a {
    background: #3f854a; /* 2 */
    color: #fff;
}
.b-nav-filter {
    border-bottom-color: #0d1d10;
}
.b-nav-filter li.active a {
    background: #0d1d10;
    color: #fff;
}

.b-nav-pills li.active a, .b-nav-pills li.active a:hover {
    background: #91cb9a;
    color: #0d1d10;
    border-color: #0d1d10;
}
.b-nav-pills li a {
    color: #777;
    border-color: #91cb9a;
}